<div class="row">
    <div class="span8">
        <h3>Posts (<%= @posts.count %>)</h3>
        <% if @posts.any? %>
            <ul class="list-styling">
                <%= render @posts %>
            </ul>
        <% end %>
    </div>
</div>