@import "bootstrap";

/* Mixins, Variables, etc. */
$grayLight: #999;
$grayMediumLight: #eaeaea;
$navBarLinks: #E6E6E6;

/* Universal */
html
{
  overflow-y: scroll;
}

section
{
  overflow: auto;
}

textarea
{
  resize: vertical;
}

.center
{
  text-align: center;

  h1
  {
    margin-bottom: 10px;
  }
}

.hero-unit
{
  background-color: #F2F2F2;
  padding: 15px 20px 25px 25px;
}

/* Typography */
h1, h2, h3, h4, h5, h6
{
  line-height: 1;
}

h1
{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2
{
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p
{
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Footer */
footer
{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;

  small
  {
    float: left;
  }

  a
  {
    color: $gray;

    &:hover
    {
      color: #222;
    }
  }
}
